<template>
  <div class="textBox">
    <input id="inputDNI" v-model="dniNumber" placeholder="Introduce número de DNI" @keyup.enter="submit">
    <button @click="sacarNum" id="submitDNI">
      Comprobar letra
    </button>
  </div>
</template>

<script>
  export default {
    name: 'TextBox',
    data() {
      return {
        dniNumber: null,
      }
    },  
    methods: {
      sacarNum() {
        this.$emit("emitDNI", this.dniNumber)
      }
    }
  }
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
  h3 {
    margin: 40px 0 0;
  }

  ul {
    list-style-type: none;
    padding: 0;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #42b983;
  }
</style>
