<template>
  <div id="app">
    <img alt="Vue logo" src="./assets/logo.png">
    <HelloWorld msg="de Vendetta"/>
    <TextBox @emitDNI= "cogerDNI"/>
    <!-- <Button /> -->
    <Letter :letraDNI= "letra"/>
  </div>
</template>

<script>
import HelloWorld from './components/HelloWorld.vue'
import TextBox from './components/TextBox.vue'
/* import Button from './components/Button.vue'*/
import Letter from './components/Letter.vue'

export default {
  //var dniLetters = ["T", "R", "W", "A", "G", "M", "Y", "F", "P", "D", "X", "B", "N", "J", "Z", "S", "Q", "V", "H", "L", "C", "K", "E"];
  name: 'app',
  components: {
    HelloWorld,
    TextBox,
    /* Button,*/
    Letter
  },
  data() {
    return {
      dniNumber: null,
      letra: null
    }
  },
  methods: {
    cogerDNI(dni) {
      this.dniNumber = dni;
      this.sacarLetra();
    },
    sacarLetra() {
      console.log("Entra en sacarLetra") // eslint-disable-line no-console
      var dniLetters = ["T", "R", "W", "A", "G", "M", "Y", "F", "P", "D", "X", "B", "N", "J", "Z", "S", "Q", "V", "H", "L", "C", "K", "E"];
      var resto = this.dniNumber % 23;
      this.letra = dniLetters[resto];
    }
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
